/* index.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Dancing+Script:wght@400..700&display=swap');

/* Global styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Additional specific styles */
code {
  font-family: Dancing Script, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add any other CSS styles for your application */
